#container {
    margin: 5rem auto;
    width: 50%;
}

#header {
    margin: 5rem auto;
    width: 50%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

form {
    margin: 5rem auto;
}

.hidden {
    display: none;
}